.head
{
  text-align: center;
}
.topnav a{
  color: aliceblue;
  text-decoration: none;
  font-family:sans-serif;
  width: 100%;
  display: block;
  padding: 15px 20px;  
  text-align: right;
}
.topnav ul
{
  list-style: none;
  background-color: rgb(45, 45, 100);
  padding: 0;
  margin:0;
  text-align: center;
  }
.topnav li
{
  display: inline-block;
  text-align: right;
}
.midnav
{
  display: block;
  background-color: rgb(43, 3, 82);
 padding: 16px 14px;
 }
 .midnav a {
  color:aliceblue;
  text-decoration: none;
 }

footer{
  background-color: blue;
  }

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom:50%;
  transform: translate(-50%, -50%);
  font-size: larger;
}
.announcementleft
{
  display: block;
  background-color: rgb(224, 27, 175);
  padding: 16px 14px;
  font-size: medium ;
}
.merit
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row
{
  display: flex;
  align-items: center; 
 padding-left: 10px;
}
.column
{
  margin-left: 15px ;
  margin-right: 15px;
}
.heading {
  text-align: center;
}

#menu_wrap {
  width: 100%;
  margin: 0 auto;
  background: #2a7db1;
}

#menu {
  width: 1300px;
  height: 60px;
  background: #2a7db1;
  margin: 0 auto;
  padding-left: 0%
}

#menu ul {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}

#menu li {
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
  position: relative;
}

#menu li a {
  color: #ffffff;
  background: #2a7db1;
  width: 100px;
  height: 30px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  display: block;
}

#menu li a:hover {
  color: #fff;
  background:blue;
  text-decoration: none;
  padding-bottom: 20px;
}

#menu ul ul {
  position: absolute;
  top: 60px;
  width: 180px;
  height: 15px;
  visibility: hidden;
}

#menu ul li:hover ul li a {
  text-decoration: none;
  text-align: left;
  width: 175px;
  height: 15px;
  padding-top: 10px;
  padding-left: 5px;
  background: blue;
  border-right: none;
  visibility: visible;
}

#menu ul li:hover ul {
  visibility: visible;
}

#menu ul li:hover ul li a:hover {
  visibility: visible;
  background: #2a7db1;
}
.overbuild
{
  border-image-width: 10px;
}
.trustimg
{
  float: left;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
.trust a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.overviewpara a
{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table,td,th
{
  text-align: left;
  border: 1px solid;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th,td{
  padding: 15px;
  text-align: left;
}
tr:nth-child(odd) 
{
  background-color: #3992c9;
}
th
{
  background-color: #135075;
}
tr:hover
{
  background-color: #2678ac;
}
.welcome a{
  font-family: Times New Roman (serif);
  font-size: 25px;
}
.health
{
  font-family: Times New Roman (serif) ;
  font-size: 20px;
}
.hostel
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.infra
{
  font-family:'Times New Roman', Times, serif ;
  font-size: 20px;
}
.library
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.food
{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.welcome
{
  display: flex;
  margin: 20px;
  align-content: center;
  justify-content: center;
}

.welcome div{
  align-items: center;
  margin: 20px;
  width: 100%;
}
.welcomewidget
{
  background-color: rgb(167, 233, 226);
}
.message{
  border-style: hidden;
  background-color:rgb(221, 214, 214);
  margin: 20px;
}
.foot
{
  display: flex;
  justify-content: center;
}
.yrcpara{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.nccpara
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.place
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}